<div class="box-2" ng-controller="createTaskCtrl">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header">{{lang.menu.home}}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="form-group text-center">
                <h3> Giới thiệu</h3>
            </div>
            <div class="form-group text-justify">
                <ul>
                    <li>Đi theo hướng Công Nghiệp hoá đổi mới dạy và học trong giáo dục cùng với việc internet phát triển phổ biến như hiện nay, việc giảng dạy cũng được cải thiện dần bằng cách sử dụng phần mềm điện tử. </li>
                    <li>Tận dụng sự phát triển ấy, bộ môn Đại số tuyến tính của trường Đại học Khoa học Tự nhiên xây dựng trang web này để hỗ trợ giáo viên và sinh viên sử dụng để làm các bài tập luyện tập, và để họ có thể tương tác với nhau nhiều hơn cách học truyền thống. </li>
                    <li>Trang web hỗ trợ giải và chấm điểm cho các bài toán ma trận.</li>
                    <li>Giao diện với màu sắc tươi vui, giúp cho người dùng cảm thấy thoải mái khi sử dụng</li>
                    <li>Hệ thống có thể chạy đa môi trường và tương thích hầu hết các thiết bị di động</li>
                </ul>
                <hr>
            </div>
            <div class="form-group text-center">
                    <h3> Giáo viên</h3>
            </div>
            <div class="form-group text-justify">
                <ul>
                    <li>Giáo viên ra các đề bài tập xoay quanh các bài toán về ma trận: cộng, trừ, nhân, tính định thức, tìm nghiệm hệ phương trình Kramer. Giáo viên sẽ nhập vào đề bài, sau đó nhập các bước giải bài tập (hoặc hệ thống sẽ hỗ trợ đưa ra kết quả cho đề bài vừa nhập, giáo viên kiểm tra và chỉnh sửa).</li>
                    <li>Giáo viên có thể xem kết quả của các học sinh, thống kê về bài tập đó, để điều chỉnh độ khó bài tập cho phù hợp. </li>
                    <li>Ngoài ra, Giáo viên cũng có thể lựa chọn mức độ cho bài tập. Có 3 mức: đơn giản, trung bình và khó.</li>
                </ul>
                <hr>
            </div>
            <div class="form-group text-center">
                    <h3> Sinh viên</h3>
            </div>
            <div class="form-group text-justify">
                <ul>
                    <li>Tìm kiếm các bài tập theo tiêu chí của mình (ví dụ: bài tập mới nhất, theo độ khó, theo tỷ lệ người làm đúng).</li>
                    <li>Thực hiện giải bài tập, nhập kết quả của từng bước tương ứng với đề bài. Sau khi hoàn tất, sinh viên ấn nộp bài. Hệ thống sẽ tự động chấm điểm dựa theo đáp án của giáo viên và kết quả sinh viên, sau đó trả ra kết quả cho sinh viên. Nếu sinh viên nhận được kết quả và cảm thấy không đúng, có thể liên hệ trực tiếp cho giáo viên để trao đổi thêm.</li>
                    <li>Sinh viên có thể xem bài giải đề bài đó sau khi làm thành công hoặc xem của các bạn khác.</li>
                </ul>
                <hr>
            </div>
            <div class="form-group text-center">
                    <h3>Quản trị viên</h3>
            </div>
            <div class="form-group text-justify">
                <ul>
                    <li>Thay đổi thang điểm cho mỗi loại bài toán</li>
                    <li>Thay đổi số dòng số cột tối đa của ma trận</li>
                    <li>Thay đổi ngôn ngữ hệ thống</li>
                    <!-- <li>Thay đổi màu giao diện </li> -->
                    <li>Hỗ trợ sinh viên khi có trục trặc kỹ thuật (qua mail)</li>
                </ul>
                <hr>
            </div>
        </div>
    </div>
</div>
</div>