<div class="login-page" ng-controller="loginCtrl">
    <div class="panel-lite">
        <h4>{{lang.label.mainTitle}}</h4>
        <h4 ng-show="!isRegister" class="text-center">{{lang.label.login}}</h4>
        <h4 ng-show="isRegister" class="text-center">{{lang.label.register}}</h4>
        <div ng-show="!isRegister" class="thumbur">
            <div class="icon-lock"></div>
        </div>
        <form ng-show="!isRegister" role="form" id="login-form" name="loginForm">
            <div class="box-input">
                <input class="box-control" name="email" required ng-model="email" autofocus ng-class="{
                        'input-error': loginForm.email.$invalid &&  loginForm.email.$touched }"
                    required>
                <label class="box-label">{{lang.login.email}}</label>
            </div>
            <div class="box-input">
                <input class="box-control" name="password" required type="password" ng-model="password" maxlength="30" ng-class="{
                        'input-error': loginForm.password.$invalid && loginForm.password.$touched }"
                    required>
                <label class="box-label">{{lang.login.password}}</label>
            </div>
            <a class="link" ng-click="isRegister = true">{{lang.login.register}}</a>
            <button class="floating-btn" ng-click="login()">
                <i class="icon-arrow"></i>
            </button>
        </form>
        <form ng-show="isRegister" role="form" id="register-form" name="registerForm">
            <div class="box-input">
                <input class="box-control" name="fullName" ng-model="item.real_name" autofocus ng-class="{
                            'input-error': registerForm.fullName.$invalid && registerForm.fullName.$touched }" title="Họ tên là bắt buộc"
                    required>
                <label class="box-label">{{lang.register.fullName}}</label>
            </div>
            <div class="box-input">
                <input class="box-control" name="phoneNumber" autofocus ng-model="item.mobile_number">
                <label class="box-label">{{lang.register.phoneNumber}}</label>
            </div>
            <div class="box-input">
                    <input class="box-control" name="birthday" ng-model="item.date_of_birth" autofocus ng-class="{
                               'input-error': registerForm.birthday.$invalid && registerForm.birthday.$touched }" title="Ngày sinh là bắt buộc"
                        required>
                    <label class="box-label">{{lang.register.birthday}}</label>
                </div>
            <div class="box-input">
                <input class="box-control" ng-pattern="emailPattern" name="email" ng-model="item.email" autofocus ng-class="{
                        'input-error': registerForm.email.$invalid && registerForm.email.$touched }" title="Địa chỉ Email là bắt buộc"
                    required>
                <label class="box-label">{{lang.register.email}}</label>
            </div>
            <div class="box-input">
                <input class="box-control" name="password" type="password" ng-model="item.password" maxlength="30" ng-class="{
                        'input-error': registerForm.password.$invalid && registerForm.password.$touched }" title="Mật khẩu là bắt buộc"
                    required>
                <label class="box-label">{{lang.register.rePassword}}</label>
            </div>
            <div class="box-input">
                <input class="box-control" ng-pattern="item.password" name="rePassword" type="password" ng-model="item.repassword" maxlength="30"
                    ng-class="{
                        'input-error': (registerForm.rePassword.$touched && registerForm.rePassword.$error.pattern) || (registerForm.rePassword.$invalid && registerForm.rePassword.$touched) }"
                    title="Mật khẩu là bắt buộc" required>
                <label class="box-label">{{lang.register.rePassword}}</label>
            </div>
            <a class="link" ng-click="isRegister = false">{{lang.register.backToLogin}}</a>
            <button class="floating-btn" ng-click="register()">
                <i class="fa fa-check"></i>
            </button>
        </form>
    </div>
</div>