<div class="box-2" ng-controller="taskListCtrl">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header">{{lang.task.list.title}}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="form-group">
                <label class="control-label">{{lang.task.create.taskType}} *</label>
                <select ng-model="datatSearch.taskType" name="taskType" required class="form-control input-sm" ng-class="{'has-error': taskInfoForm.taskType.$touched && taskInfoForm.taskType.$invalid}">
                    <option value="" ng-selected="true">{{lang.label.selectAll}}</option>
                    <option value="{{type.type_index}}" ng-repeat="type in taskTypeList">{{type.type_name}}</option>
                </select>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="form-group">
                <label class="control-label">{{lang.task.create.hardLevel}} *</label>
                <select ng-model="datatSearch.hardLevel" name="hardLv" ng-change="changeLevel()" required class="form-control input-sm" ng-class="{'has-error': taskInfoForm.hardLv.$touched && taskInfoForm.hardLv.$invalid}">
                    <option value="" ng-selected="true">{{lang.label.selectAll}}</option>
                    <option value="{{lv}}" ng-repeat="lv in hardLevelList">{{lv.level==1?lang.task.create.level1:(lv.level==2?lang.task.create.level2:lang.task.create.level3)}}</option>
                </select>
            </div>

            <div class="form-group text-right">
                <button type="button" class="btn btn-primary btn-xs" ng-click="search()">
                    <i class="fa fa-search"></i> {{lang.label.search}}
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-lg-8">
            <div class="form-group">
                <div class="btn-group">
                    <button ng-disabled="!selectedRow" type="button" class="btn btn-primary btn-xs" ng-click="viewTask(selectedRow)">
                        <i class="fa fa-eye"></i> {{lang.label.viewTask}}
                    </button>
                    <button ng-if="selectedRow&&!selectedRow.is_public&&userData.role != 3" type="button" class="btn btn-primary btn-xs" ng-click="showPostSolution(selectedRow)">
                        <i class="fa fa-file-text-o"></i> {{lang.label.postSolution}}
                    </button>
                    <button ng-if="selectedRow&&electedRow.is_public&&userData.role != 3" type="button" class="btn btn-primary btn-xs" ng-click="showPostSolution(selectedRow, true)">
                        <i class="fa fa-file-text-o"></i> {{lang.label.editSolution}}
                    </button>
                    <button ng-if="selectedRow&&selectedRow.is_public" type="button" style="padding: 0px 5px;"
                        class="btn btn-primary btn-xs" ng-click="getSolution(selectedRow)">
                        <i class="fa fa-file-text"></i> {{lang.label.getSolution}}
                    </button>
                    <!-- <button ng-disabled="!selectedRow" type="button" class="btn btn-primary btn-xs" ng-click="viewTask()">
                        <i class="fa fa-eye"></i> {{lang.label.viewTask}}
                    </button> -->
                </div>
            </div>
            <div class="form-group">
                <div id="taskList" ui-grid-selection ui-grid-resize-columns ui-grid-pinning ui-grid="taskList" class="grid">
                    <span ng-show="taskList.data.length==0" class="grid-status">{{lang.label.noData}}</span>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="modalSolution" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">{{lang.task.solution.title}}</h4>
                </div>
                <div id="solution-area" class="modal-body">
                    <div class="row">
                        <!-- SODLUTION CONG TRU NHAN -->
                        <div id="type1type2type3" ng-show="solution.type == 1||solution.type == 2||solution.type == 3" class="col-xs-12">
                            <div class="form-group">
                                <table align="center" class="solution">
                                    <tr ng-repeat="row in getNumber(solution.row) track by $index" ng-init="rowIndex = $index">
                                        <td ng-repeat="col in getNumber(solution.col) track by $index" ng-init="colIndex = $index">
                                            <input yr-integer ng-pattern="cellLimit" name="cell{{rowIndex}}{{colIndex}}" type="text" class="form-control input-sm matrix-cell">
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                        <!-- SODLUTION DINH THUC -->
                        <div id="type4" ng-show="solution.type == 4" class="col-xs-12">
                            <div ng-repeat="matrix in getNumber(solution.rowCol-1) track by $index" ng-init="indx = $index" class="form-group">
                                <p class="text-center">{{lang.label.minusCol}} {{indx+1}} {{lang.label.minusRow}} {{indx+1}} </p>
                                <table align="center" class="solution" id="solution{{indx}}">
                                    <tr ng-repeat="row in getNumber(solution.rowCol) track by $index" ng-init="rowIndex = $index">
                                        <td ng-repeat="col in getNumber(solution.rowCol) track by $index" ng-init="colIndex = $index">
                                            <input yr-integer ng-pattern="cellLimit" name="cell{{rowIndex}}{{colIndex}}" type="text" class="form-control input-sm matrix-cell">
                                        </td>
                                    </tr>
                                </table>
                                <!-- <hr> -->
                            </div>
                            <div class="form-group">
                                <p class="text-center">{{lang.label.solution}}</p>
                                <table align="center" id="mainSolution">
                                    <tr>
                                        <td>
                                            <input yr-integer ng-pattern="cellLimit" placeholder="d" name="d" type="text" class="form-control input-sm matrix-cell">
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                        <!-- SODLUTION HE PT KRAMER -->
                        <div id="type5" ng-show="solution.type == 5" class="col-xs-12">
                            <div class="form-group">
                                <table align="center" class="solution">
                                    <tr>
                                        <td ng-repeat="num in getNumber(solution.variables) track by $index" ng-init="colIndex = $index">
                                            <input yr-integer ng-pattern="cellLimit" placeholder="d{{colIndex+1}}" name="d{{colIndex+1}}" type="text" class="form-control input-sm matrix-cell">
                                        </td>
                                        <td>
                                            <input yr-integer ng-pattern="cellLimit" placeholder="d" name="d" type="text" class="form-control input-sm matrix-cell">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td ng-repeat="num in getNumber(solution.variables) track by $index" ng-init="colIndex = $index">
                                            <input yr-integer ng-pattern="cellLimit" placeholder="{{equationVariables[colIndex]}}" name="{{equationVariables[colIndex]}}"
                                                type="text" class="form-control input-sm matrix-cell">
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-xs" ng-click="saveSolution()">
                        <i class="fa fa-save"></i> {{lang.label.save}}</button>
                    <button type="button" class="btn btn-primary btn-xs" data-dismiss="modal">
                        <i class="fa fa-times"></i> {{lang.label.close}}</button>
                </div>
            </div>

        </div>
    </div>
</div>